// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$title-color: #333;
$subtitle-color: #8e8e8e;
$header-bg: #eeeeee;
$nav-bg: #eeeeee;
$nav-bg-front: none;
$nav-bg-back: #eeeeee;
$sidebar-bg: #eeeeee;
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);
$footer-bg: #eeeeee;
$footer-bg-front: none;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));

// Main Link Colors
// $link-color: lighten(#165b94, 3) !default;
// $link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
// $link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
// $link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #eeeeee;
$page-bg: #eeeeee !default;
// $article-border: #eeeeee !default;

// $header-bg: #333 !default;
// $header-border: lighten($header-bg, 15) !default;
// $title-color: #eeeeee !default;
// $subtitle-color: #aaa !default;

// $text-color: #222 !default;
// $text-color-light: #aaa !default;
// $type-border: #ddd !default;

/* Navigation */
// $nav-bg: #ccc !default;
// $nav-bg-front: image-url('noise.png') !default;
// $nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11)) !default;
// $nav-color: darken($nav-bg, 38) !default;
// $nav-color-hover: darken($nav-color, 25) !default;
// $nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: 0;
// $nav-border-top: lighten($nav-bg, 15) !default;
// $nav-border-bottom: darken($nav-bg, 25) !default;
// $nav-border-left: darken($nav-bg, 11) !default;
// $nav-border-right: lighten($nav-bg, 7) !default;

/* Sidebar colors */
// $sidebar-bg: #eeeeee !default;
// $sidebar-link-color: $link-color !default;
// $sidebar-link-color-hover: $link-color-hover !default;
// $sidebar-link-color-active: $link-color-active !default;
// $sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
// $sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
// $sidebar-border-hover: darken($sidebar-bg, 7) !default;
// $sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
// $sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
// $twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

// $footer-color: #888 !default;
// $footer-bg: #ccc !default;
// $footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: #eeeeee;
// $footer-color: darken($footer-bg, 38) !default;
// $footer-color-hover: darken($footer-color, 10) !default;
// $footer-border-top: lighten($footer-bg, 15) !default;
// $footer-border-bottom: darken($footer-bg, 15) !default;
// $footer-link-color: darken($footer-bg, 38) !default;
// $footer-link-color-hover: darken($footer-color, 25) !default;
// $page-border-bottom: darken($footer-bg, 5) !default;
























/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
// $base03:          #002b36; //darkest blue
// $base02:          #073642; //dark blue
// $base01:          #586e75; //darkest gray
// $base00:          #657b83; //dark gray
// $base0:           #839496; //medium gray
// $base1:           #93a1a1; //medium light gray
// $base2:           #eee8d5; //cream
// $base3:           #fdf6e3; //white
// $solar-yellow:    #b58900;
// $solar-orange:    #cb4b16;
// $solar-red:       #dc322f;
// $solar-magenta:   #d33682;
// $solar-violet:    #6c71c4;
// $solar-blue:      #268bd2;
// $solar-cyan:      #2aa198;
// $solar-green:     #859900;

