// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*** Global Styles ***/

html {
  background: #eeeeee;
}

body > nav,
body > nav li + li,
body > nav li + li a {
  border: 0;
}

body,
body > nav a,
body > header h1, h1, h2, h3, h4, h5, h6,
.heading,
.sans,
body > header h2,
article header p.meta,
article > footer,
#content .blog-index footer,
html .gist .gist-file .gist-meta,
#blog-archives a.category,
#blog-archives time,
aside.sidebar section,
body > footer {
  font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
}

#content {
  margin-right: 0;
  border-right: 0;
  aside.sidebar,
  span.toggle-sidebar {
    display: none;
  }
}

header hgroup {
  h1,
  h2 {
    display: none;
  }
}

/* Layout */
#main-sidebar {
  width: 16%;
  float: left;
  padding: 2%;
  ul {
    list-style: none;
    a {
      color: #333;
      text-decoration: none;
      line-height: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
    &.subscription {
      a {
        color: #666;
        background-color: transparent;
        padding-left: 30px;
      }
    }
  }
  nav {
    padding-top: 2em;
    form {
      display: none;
    }
  }
}
#main {
  width: 80%;
  float: right;
}
#main-footer {
  clear: both;
}

/* Media Queries */
@media screen and (max-width: 835px) {
  #main-sidebar {
    width: 190px;
    nav ul {margin-left: 0}
  }
  #main {
    width: inherit;
    float: none;
    margin-left: 240px;
  }
}


/*** Section-specific Styles ***/

#content .blog-index {
  padding-top: 9px;
  article h1 {
    font-size: 2.6em;
  }
}


