// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*** Global Styles ***/

html {
  background: #eeeeee;
}

body > nav,
body > nav li + li,
body > nav li + li a {
  border: 0;
}

body,
body > nav a,
body > header h1, h1, h2, h3, h4, h5, h6,
.heading,
.sans,
body > header h2,
article header p.meta,
article > footer,
#content .blog-index footer,
html .gist .gist-file .gist-meta,
#blog-archives a.category,
#blog-archives time,
aside.sidebar section,
body > footer {
  font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
}

#content {
  margin-right: 0;
  border-right: 0;
  aside.sidebar,
  span.toggle-sidebar {
    display: none;
  }
}

figcaption {
  color: #666;
  font-style: italic;
  margin-bottom: 2em;
  font-size: 0.9em;
}

header hgroup {
  h1,
  h2 {
    display: none;
  }
}

/* Layout */
#main-sidebar {
  width: 16%;
  float: left;
  padding: 2%;
  ul {
    list-style: none;
    a {
      color: #333;
      text-decoration: none;
      line-height: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
    &.subscription {
      a {
        color: #666;
        background-color: transparent;
        padding-left: 30px;
      }
    }
  }
  nav {
    padding-top: 2em;
    form {
      display: none;
    }
  }
}

#main {
  width: 80%;
  float: right;
}
#main-footer {
  clear: both;
}

/*** Section-specific Styles ***/

/* Home */
#content .blog-index {
  padding-top: 9px;
  article h1 {
    font-size: 2.6em;
  }
}

/* About */
.team {
  margin-left: 0;
  li {
    list-style: none;
    width: 49%;
    margin-right: 2%;
    float: left;
    clear: both;
    .role {
      color: #e0460a;
      &:before {
        content: "/ ";
      }
    }
    &.even {
      margin-right: 0;
      float: right;
      clear: none;
    }
    .short-desc {
      clear: both;
    }
    p {
      margin-bottom: 1em;
    }
    .contact {
      margin: 0 0 1em 0;
      height: 30px;
      li {
        width: auto;
        clear: none;
        float: left;
      }
      a {
        background: transparent url(/images/icons.png) top left no-repeat;
        display: block;
        width: 30px;
        height: 30px;

        span {
          display: none;
        }
      }
      /* social icons */
      li.github a {background-position: -43px 0;}
      li.dribble a {background-position: -85px 0;}
      li.linkedin a {background-position: -128px 0;}
      li.website a {background-position: -170px 0;}

      /* hover states */
      li.twitter a:hover {background-position: 0 -60px;}
      li.github a:hover {background-position: -43px -60px;}
      li.dribble a:hover {background-position: -85px -60px;}
      li.linkedin a:hover {background-position: -128px -60px;}
      li.website a:hover {background-position: -170px -60px;}
    }
  }
}



/* Media Queries */
@media screen and (max-width: 835px) {
  #main-sidebar {
    width: 190px;
    nav ul {margin-left: 0}
  }
  #main {
    width: inherit;
    float: none;
    margin-left: 240px;
  }
  .team li {
    width: 100%;
    margin: 0;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 510px) {
  #main-sidebar {
    width: auto;
    float: none;
    padding: 25px;
    text-align: center;
    hgroup a {
      margin: 0 auto;
      display: block;
      width: 151px;
      height: 201px;
      overflow: hidden;
    }
    .main-navigation li {
      display: inline;
      a {
        padding: 0 1em;
      }
    }
    ul.subscription {
      clear: both;
      a {
        background-color: transparent;
        padding: 0;
      }
    }
  }
  .maskImage a[rel="subscribe-rss"],
  .maskImage a[rel="subscribe-rss"]::after {
    mask-image: none!important;
    -webkit-mask-image: none!important;
    background-color: transparent!important;
  }
  #main {
    clear: both;
    margin: 0;
  }
}